* {
    margin: 0;
    padding: 0;
    width: 100%;
  }
.admiss{
    height: 16vh;
}
.admission-main{
  width: 100%;
  height: 500px;
  display:flex;
  flex-direction: column;
}

.front{
    height: 90vh;
    background-image: url(/img/Admission/admission-page.png);
    background-size: cover;
}
.admission-detail{
  height: max-content;
  width: 80vw;
  margin: auto;
  margin-top: 50px;
}
.admission-detail p{
  margin: 5px;
  text-align: center;
  border: 2px solid black;
  font-size: 1.2rem;
  
}

.admission-timeline{
  margin: auto;
  height: max-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.admission-timeline h1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.timeline{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: max-content;
  margin-bottom: 10px;
}
.attempt{
  height: 200px;
  width: 250px;
  background-color: rgba(255, 255, 0, 0.375);
  margin: 10px;
}
#no{
  margin: auto;
  margin-top: 10px;
  height: 30px;
  border: 4px solid #410909;
  width: 30px;
  border-radius: 10%;
}
#no h2{
  font-weight: bold;
  color: #410909;
}
.attempt h3, p{
  margin-top: 10px;
}
.drop-your-name1{
  margin-top: 15px;
}
.pre-foot{
  margin: auto;
  width: 100%;
  border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1014px) {
  .front{
    height: 300px !important;
  }
}