.alumni-top{
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #410909;
    
}
#alumni-img{
    margin-top: 73px;
    height: 85vh;
    width: 97%;
    background-image: url(img/alumni/alumni-front.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 3px rgba(151, 112, 112, 0.62);
}
.alumni-msg{
    margin-top: 13px;
    height: max-content;
}
.alumni-msg h1{
    margin: 5px;
    text-align: center;
    font-weight: bold;
}
.alumni-msg p{
    text-align: justify;
    margin: auto;
    width: 90%;
    line-height: 25px;
}