.dept-front{
    background: url("/img/Department/applied-science/applied-science-front.jpg");
    background-size: cover;
}

@media screen and (max-width: 1014px){
    .front{
        height: max-content;
    }
}