* {
  margin: 0;
  padding: 0;
}
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-style: normal;
}
#sankalp {
  height: 20px;
}
.sankalp {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sankalp h1 {
    font-size: 3rem;
    color: green;
    font-weight: bold;
}
.club-boxes {
  height: max-content;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.club-boxes div{
  margin: 10px;
}
#clubs {
  height: max-content;
  background-color: yellow;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  width: 25%;
}
#clubs img{
  height: 40vh;
  border: 2px solid black;
}
#clubs h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#clubs p{
  /* margin-top: 2px; */
  font-size: 1rem;
}
.row1 {
  margin: auto;
  height: 320px;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row2 {
  height: 320px;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row3 {
  height: 320px;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.raso-img{
  background-image: url(img/clubs/Ganpati\ Bappa.jpg);
}
.TLC-img{
  background-image: url(/img/clubs/tlc.JPG);
}
.samatva-img{
  background-image: url(/img/clubs/samatva.png);
}
.photography-img{
  background-image: url(/img/clubs/Photography.JPG) !important;
}
.kshitij-img{
  background-image: url(/img/clubs/kshitij.JPG);
}
.social-img{
  background-image: url(/img/clubs/social-media.JPG);
}
.sports-img{
  background-image: url(/img/clubs/sports.png);
}
.science-img{
  background-image: url(/img/clubs/science.JPG);
}
.robotics-img{
  background-image: url(/img/clubs/Robotics1.JPG);
}
.gdsc-img{
  background-image: url(/img/clubs/gdsc1.jpg);
}
.bigdata-img{
  background-image: url(/img/clubs/bigdata.png);
}
.source-img{
  background-image: url(/img/clubs/open-source.JPG);
}
.text-in{
  margin: auto;
  height: 40vh;
  border: 2px solid black;
  background-size: cover;

}
.text-in h1{
  background-color: rgba(255, 228, 196, 0.386);
  color: rgb(0, 0, 0);
  margin-top: 35vh;
}

#clubs a{
  margin: auto;
  margin-top: 5px;
  height: 7vh;
  width: 24%;
  text-decoration:none ;
  font-weight: bold;
}
#clubs button{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-self: self-end;
}
#clubs button:active {
  background: #381207;
}

#clubs button:hover {
  background: radial-gradient(#632412, #381207);
  cursor: pointer;
  color: wheat;
  font-weight: bold;
}
@media screen and (max-width: 1014px) {
  .text-box {
    font-size: 0.7rem;
    text-align: center;
  }
}

