*{
  padding: 0;
  margin: 0;
}
.head{
  padding-top: 0px;
}
.cs-head{
  margin-top: 50px;
}
.dept-front{
  background: url("/img/Department/computer-science/Comp-Science\(Front\).jpg");
  background-size: cover;
}
.drop a svg {
  margin-top: 3px;
  margin-left: 4px;
}


.cs-mission{
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  height: 15vh;
  border: 2px solid yellow;
}
.cs-mission h2{
  padding-top:15px ;
}
.cs-faq h1{
  width: 130vh;
}


@media screen and (max-width: 1014px){
  .front{
    height: max-content;
    font-size: 0.7rem;
  }
  .image-container img{
    width: 70%;
    margin: auto;
  }
  .text-content{
    height: max-content;
    margin: auto;
    margin-top: 50px;
    transform: translate(0%, 0%);
  }
  .accordion-button{
    font-size: 0.9rem;
  }
  .faqs .accordion-item .accordion-button{
    height: max-content;
  }
  .cs-faq h1{
    width: 90%;
    font-size: 1.8rem;
  }
  .nav{
    width: 95%;
  }
}