*{
  padding: 0;
  margin: 0;
}
.dept-front{
  background: url("/img/Department/computer-science/Comp-Science\(Front\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 99%;
}

.comp-acc-content li{
  list-style: decimal;
}

@media screen and (max-width: 1014px){
  .front{
    height: max-content;
    font-size: 0.7rem;
  }
  .image-container img{
    width: 70%;
    margin: auto;
  }
  .text-content{
    height: max-content;
    margin: auto;
    margin-top: 50px;
    transform: translate(0%, 0%);
  }
  .accordion-button{
    font-size: 0.9rem;
  }
  .faqs .accordion-item .accordion-button{
    height: max-content;
  }
  .cs-faq h1{
    width: 90%;
    font-size: 1.8rem;
  }
  .nav{
    width: 95%;
  }
}