*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(63, 14, 14);
}

.cs-front{
  height: 80vh;
  background: url("/img/Computer_Science/csmain-img.jpg");
  background-size: cover;
}
.drop a svg {
  /* color: white; */
  padding: 0px;
  height: 14px;
  margin-top: 5px;
  margin-left: 4px;
}
.nav{
  background-color: #381207;
}
.nav-head a, .drop-icon {
  color: #fcf4c9;
  fill: #fcf4c9;
  font-weight: 100;
}
.drop-icon{
  
}

.cs-mission{
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  height: 15vh;
  border: 2px solid yellow;
}
.cs-mission h2{
  padding-top:15px ;
}
