*{
  padding: 0;
  margin: 0;
}
.head{
  padding-top: 6px;
}
.cs-front{
  height: 80vh;
  /* background-color: red; */
  background: url("/img/Department/computer-science/csmain-img.jpg");
  background-size: cover;
}
.drop a svg {
  margin-top: 3px;
  margin-left: 4px;
}

.nav-head a, .drop-icon {
  font-size: 1.1rem;
}
.text-content h1{
  text-align: center;
  border-bottom: 2px solid rgb(87, 39, 5);
  margin-bottom: 5px;
  font-weight: bold;
}
.text-content h5{
  font-weight: bold;
}
.text-content p{
  line-height: 2rem;
  margin-top: 5px;
}
.text-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(10%,-15%);
  line-height: 1.5rem;
}

.cs-mission{
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  height: 15vh;
  border: 2px solid yellow;
}
.cs-mission h2{
  padding-top:15px ;
}
.cs-faq h1{
  width: 130vh;
}


