.cultural-img{
  background-image: url(/img/clubs/Cultural_club/Cultural-club.jpg) !important;
}

.carpediem-img{
    background-image: url(/img/clubs/Ganpati\ Bappa.jpg);
}
.kshitij-img{
    background-image: url(/img/clubs/Cultural_club/Kshitiji_club/kshitij-cover.JPG);
}
.cultural-box{
    margin-top: -13px;
}