
.dept-front{
    background: url("/img/Department/electonics-and-communication/electronics&communication-front.jpg");
    background-size: cover;
  }

.ece-faq h1{
    width: 170vh;
}

@media (max-width: 1014px) {
    .image-container, .text-content {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .text-content {
        padding: 10px;
    }
    .ece-faq h1{
        width: 90% ;
        font-size: 1.8rem;
    }
    .faqs .accordion-item .accordion-button{
        width: 90%;
    }
    .image-container img{
        width: 70%;
        margin: auto;
    }
    .nav{
        width: 95%;
    }
}

