.img{
    background: url("/img/Department/mechanical/me.jpg");
    background-size: cover;
    height: 85vh;
}
.nav{
    width: 99vw;
}

.note{
    width: 80vw;
    /* border: 2px solid #b04829; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 19px;
    text-align: justify;
}
.note p{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Shippori Antique", sans-serif;
}


.hod {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.image-container {
    flex: 1 1 50%; /* flex-grow, flex-shrink, flex-basis */
    max-width: 30%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 2px 3px 3px brown;
}

.text-content {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 20px;
    text-align: justify;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .image-container, .text-content {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .text-content {
        padding: 10px;
    }
}


.accordion{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.accordion-button {
    padding: 10px;
    height: 50px;
    width: 100%;
    text-align: left;
    background: #632412;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
    transition: background 0.3s ease;
}

.accordion-button:hover, .accordion-button.active {
    background: #b04829;
}
.bold{
    font-weight: bold;
}

.accordion-content {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
    background-color: #f8f9fa;
    font-size: 1.2rem;
    color: black;
    text-align: justify;
    line-height: 30px;
}
ol{
    padding-left: 50px;
}
ol li{
    list-style-type: circle;
    color: black;
}

/* This makes the accordion content visible and smoothly expands the area */
.accordion-content.active {
    height: max-content; /* adjust based on content */
    overflow: auto;
}


/* faq */
.faqs{
    height:max-content;
    background-color: #381207;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.faqs h1{
    color: rgb(177, 177, 177);
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
    width: 50%;
    margin: auto;
}
.faqs .accordion-item .accordion-button{
    background: none;
    text-align: left;
    width: 70%;
    font-size: 1.2rem;
    display: block;
    margin: auto;
}
.faqs .accordion-item .accordion-button:hover{
    color: #b04829;
}
.faqs .accordion-item .accordion-button:active{
    color: white;
}
.faqs .accordion-item .accordion-content{
    width: 68%;
    background: transparent;
    color: white;
    margin: auto;
}
.faqs .accordion-item .accordion-content p{
   font-size: 1.1rem;
}
.faqs .accordion-item .accordion-content ol li{
    color: white;
    font-weight: 100;
    font-size: 1.1rem;
}
@media screen and (max-width: 1014px) {
    .faqs h1{
        width: 90%;
        font-size: 1.8rem;
    }
}