*{
    margin: 0;
    padding: 0;
}
.Eit-proud{
    text-align: center;
    height: 90vh;
    width: 80%;
    /* border: 2px solid black; */
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.411);
    margin: auto;
    margin-top: 40px;
}
.wrapper3, .wrapper4{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin-top: 50px;
    height: 60vh;
}
.carousel3 #stdts-list, .carousel4 #stdts-list {
    height: 250px;
  }
