*{
    margin: 0px;
    padding: 0px;
}
.program-top{
    background-color: red;
    height: 16vh;
}
.front{
    height: 75vh;
    background-image: url(/img/desk.jpg);
    background-size: cover;
}
.main-program h1{
    color: white;
    text-align: center;
    padding-top: 30vh;
    font-size: 4rem;
    text-shadow: 3px 3px 2px black;
}
.programs-slogan{
    margin: auto;
    margin-top: 10px;
    height: max-content;
    width: 70vw;
    border: 2px solid black; 
    text-align: center;
}
.UG-programme{
    margin: auto;
    height: max-content;
    width: 80vw;
    margin-top: 10px;
}
.PG-programme{
    margin: auto;
    height: max-content;
    width: 80vw;
    border-top: 2px solid rgba(0, 0, 0, 0.33);
} 
.of-headings{
    height: 5vh;
    /* margin-top: 10px; */
}
.UG-heading h1{
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6rem;
    text-align: center;
}
.PG-heading h1{
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6rem;
    text-align: center; 
}

@media screen and (max-width: 1014px){
    .UG-heading h1{
        font-size: 2rem;
    }
    .PG-heading h1{
        font-size: 2rem;
    }
    .accordion-item button{
        height: 80px;
    }
    .front{
        height: 300px !important;
        display: flex;
        align-items: center;
    }
}