@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper1{
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-image: url(/img/bricks.jpg);
  background-size: cover;
  /* background: linear-gradient(to left top, #632412, #b04829); */
}
.wrapper2, .wrapper3, .wrapper4 {
  height: 60vh;
  display: flex;
  padding: 0 35px;
  justify-content: center;
  align-items: center;
}
#studentcard{
  height: 350px;
  width: 350px;
  /* border: 2px solid blue; */
  padding: 0%;
  
}
.wrapper1, .wrapper2, .wrapper3, .wrapper4 {
  max-width: 1400px;
  width: 100%;
  position: relative;
}
.wrapper1 i ,.wrapper2 i, .wrapper3 i, .wrapper4 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper1 i:active ,.wrapper2 i:active,.wrapper3 i:active, .wrapper4 i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper1 i:first-child ,.wrapper2 i:first-child, .wrapper3 i:first-child, .wrapper4 i:first-child {
  left: -0px;
}
.wrapper1 i:last-child,.wrapper2 i:last-child, .wrapper3 i:last-child, .wrapper4 i:last-child {
  right: -0px;
}
.wrapper1 .carousel1, .wrapper2 .carousel2, .wrapper3 .carousel3, .wrapper4 .carousel4 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  
}
.carousel2{
  gap: 50px !important;

}
.carousel1::-webkit-scrollbar,.carousel2::-webkit-scrollbar, .carousel3::-webkit-scrollbar, .carousel4::-webkit-scrollbar {
  display: none;
}
.carousel1.no-transition, .carousel2.no-transition, .carousel3.no-transition, .carousel4.no-transition {
  scroll-behavior: auto;
}
.carousel1.dragging,.carousel2.dragging, .carousel3.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel1.dragging .card, .carousel2.dragging .card, .carousel3.dragging .card, .carousel4.dragging .card{
  cursor: grab;
  user-select: none;
}
.carousel1 :where(.card, .img),.carousel2 :where(.card, .img), .carousel3 :where(.card, .img), .carousel4 :where(.card, .img)  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel1 .card,.carousel2 .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel3 .card, .carousel4 .card{
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel1 .card h2,.carousel2 .card h2, .carousel3 .card h2, .carousel4 .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel1 .card span ,.carousel2 .card span, .carousel3 .card span, .carousel4 .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper1 .carousel1, .wrapper2 .carousel2, .wrapper3 .carousel3, .wrapper4 .carousel4 {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper1 .carousel1, .wrapper2 .carousel2, .wrapper3 .carousel3, .wrapper4 .carousel4  {
    grid-auto-columns: 100%;
  }
}



/* front page image change */
/* button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
} */