.social-img{
    background-image: url(/img/clubs/Social_Club/Social-club.jpg) !important;
}
.subtech-box2{
    width: 100%;
}
.raso-img{
    background-image: url(/img/clubs/Ganpati\ Bappa.jpg) ;
}
.socialmedia-img{
    background-image: url(/img/clubs/Social_Club/Social_media_club/social-media-cover.JPG);
}
.photography-img{
    background-image: url(/img/clubs/Social_Club/Photography_club/Photography-cover.JPG);
}
.samatva-img{
    background-image: url(/img/clubs/Social_Club/Samatva/samatva-cover.png);   
}
.tlc-img{
    background-image: url(img/clubs/Social_Club/TLC-club/tlc-cover.JPG);
}
.marketing-img{
    background-image: url(/img/clubs/Ganpati\ Bappa.jpg);
}