* {
  margin: 0px;
  padding: 0px;
  /* background-color: #fcf4c9; */
  font-family: "Shippori Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.front {
  height: 100vh;
  background-image: url("./img/Campus\(EIT\).JPG");
  /* border: 2px solid red; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  background-attachment: fixed;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #632412;
  /* background-color: #b048293c; */
  /* border: 2px solid black; */
}
.nav-head {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-right:  20px;
  transition: all 1s;
}
.nav-head a {
  text-decoration: none;
  color: #632412;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
}
.nav img {
  margin-left: 20px;
}

/* Nav Drop Down */
.drop-about{
    height: 0px;
    width: 350px;
    position: absolute;
    left: 28vw;
    background-color: #fcf4c9;
    transition: height 0.3s;
    margin-top: 22px;
}
.drop-about h1 {
  display: none;
}
.about:hover .drop-about{
    height: 300px;
    border: 2px solid #632412;
}
.about:hover .drop-about h1 {
  display: inline;
}
.hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  z-index: 1;
  display: none;
}
.Welcome_EIT{
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  background-color: #fcf4c9;
  margin-top: 50px;
}
.welcomeeitimg{
  border: 2px solid green;
  height: 100vh;
  width: 50vw;
}
.welcomeeitimg img{
  /* height: 756px;
  width: 840px; */
}

.Welcome-content{
  /* background-color: red; */
  border: 2px solid blue;
  width: 50vw;
  height: 100vh;
}

.Welcome_EIT h1{
    font-size: 40px;
    background: linear-gradient(100deg, #2169B4, #C1D842);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-weight: bold;
    padding-left: 150px;
}
.Welcome_EIT p{
  font-size: 1.3rem;
  margin-top: 10px;
  /* background-color: #632412; */
  /* margin-top: 100px; */
}

@media screen and (max-width: 1014px){
  .front{
    overflow: hidden;
  }
  .nav {
    position: relative;
    border-bottom: none;
  }
  .nav-head {
    position: absolute;
    right: -500px;
    width: 20vw;
    top: 1px;
    background-color: #fcf4c9;
    height: 70vh;
    padding: 20px;
    border-top-left-radius: 30px;
    overflow-x: scroll;
  }
  .nav-head div:nth-child(1){
    margin-bottom: 20px;
  }
  .nav-head a{
    margin-bottom: 20px;
  }
  .front .nav .nav-head {
    flex-direction: column;
  }
  .front {
    background-size: contain;
  }
  .hamburger {
    display: block;
  }
  .ham-clicked {
    right: 1px;
  }
  .drop-about{
    height: 0px;
    width: 350px;
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #fcf4c9;
    transition: height 0.3s;
    margin-top: 22px;

}
.drop-about h1{
    display: none;
}
.about:hover .drop-about{
    height: 300px;
    border: 2px solid #632412;
}
.about:hover .drop-about h1{
    display: inline;
}
}
