* {
  margin: 0px;
  padding: 0px;
  /* background-color: #fcf4c9; */
  font-family: "Shippori Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.front {
  height: 100vh;
  background-image: url("./img/Campus\(EIT\).JPG");
  /* border: 2px solid red; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #632412;
  /* background-color: #b048293c; */
  /* border: 2px solid black; */
}
.nav-head {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-right: 20px;
  transition: all 1s;
}
.nav-head a {
  text-decoration: none;
  color: #632412;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav img {
  margin-left: 20px;
}

/* Nav Drop Down */
.drop-about {
  height: 0px;
  width: 350px;
  position: absolute;
  left: 28vw;
  background-color: #fcf4c9;
  transition: height 0.3s;
  margin-top: 22px;
}
.drop-about h1 {
  display: none;
}
.about:hover .drop-about {
  height: 300px;
  border: 2px solid #632412;
}
.about:hover .drop-about h1 {
  display: inline;
}
.hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  z-index: 1;
  display: none;
}

/* Welcome to EIT */
.Welcome_EIT {
  height: 700px;
  display: flex;
  /* background-color: red; */
  margin-top: 670px;
  background-color: #fcf4c9;
}

.Welcome_EITimg {
  /* background-color: black; */
  padding-top: 10px;
  /* margin-left: 650px; */
  display: flex;
}
#img1 img {
  border-radius: 50px;
  margin-left: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.728);
}
#img2 img {
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.728);
}
#img3 img {
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.728);
  /* margin-top: 270px; */
}
.Welcome_EIT h1 {
  padding-left: 150px;
  font-weight: bold;
  font-size: 40px;
  background: linear-gradient(
    120deg,
    #2169B4,
    #C1D842
  ); /* Define the gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 1414px) {
  .front {
    overflow: hidden;
  }
  .nav {
    position: relative;
    border-bottom: none;
  }
  .nav-head {
    position: absolute;
    right: -500px;
    width: 20vw;
    top: 1px;
    background-color: #fcf4c9;
    height: 70vh;
    padding: 20px;
    border-top-left-radius: 30px;
  }
  .front .nav .nav-head {
    flex-direction: column;
  }
  .front {
    background-size: contain;
  }
  .hamburger {
    display: block;
  }
  .ham-clicked {
    right: 1px;
  }
}
