* {
  margin: 0px;
  padding: 0px;
  font-family: "Shippori Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #fcf4c9;
}
.front {
  height: 100vh;
  background-image: url("./img/Campus\(EIT\).JPG");
  /* border: 2px solid red; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* width: 100vw; */
  background-attachment: fixed;
}
.front .name {
  color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.389); */
  position: absolute; 
  width: 99vw;
  background-size: contain;
  display: grid;
  place-items: center;
  height: 100vh;
  text-shadow: 7px 7px 10px black;
}

.popup {
  position: fixed;
  z-index: 1;
  height: 60vh;
  width: 40vw;
  left: 30%;
  top: 20%;
  background-color: #381207;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-shadow: 2px 2px 4px black;
  display: none;
}
.popup::before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0%;
  height: 66.5vh;
  width: 43vw;
  z-index: -1;
  filter: blur(5px);
}
.popup form {
  display: flex;
  flex-direction: column;
}
.popup form p {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.popup form h1,
.popup form input,
.popup form select {
  margin: 10px;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
}
.name1 h1 {
  font-size: 3.5rem;
}
.name1 h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  /* border: 2px solid red;h */
}
#bttn {
  height: 50px;
  width: 130px;
  font-size: 1.3rem;
  /* font-weight: bold; */
  color: white;
  background-color: #1e6fb9;
  border-radius: 40px;
  border: none;
  /* align-items: center;
  justify-content: center; */
  margin: auto;
  margin-top: 20px;
  transition: all 0.2s;
  display: block;
  text-align: center;
}
#bttn:hover {
  background-color: #0a263f;
}
.handles {
  position: fixed;
  left: 15px;
  bottom: 7px;
  z-index: 1;

  /* background-color: #0a263f; */
}
.handles svg {
  /* border: 2px solid red; */
  width: 30px;
  height: 40px;
  /* z-index: 3; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 2px solid #632412;
  /* background-color: #b048293c; */
  /* border: 2px solid black; */
  z-index: 1;
}

.nav-head {
  padding-bottom: 20px;
  height: 0px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-right: 20px;
  transition: all 1s;
  z-index: 1;
}
.nav-head a {
  text-decoration: none;
  color: #381207;
  font-size: 1.2rem;
  font-weight: bold;
  /* position: relative; */
  z-index: 1;
  /* padding-left: 2px; */
  width: 150px;
  /* border: 2px solid green; */
}

.nav img {
  margin-left: 20px;
  z-index: 1;
}

/* Nav Drop Down */
/* About */
.about {
  height: 50px;
  width: 80px;
}
.about a {
  display: flex;
}
.drop-icon {
  fill: #381207;
  transition: all 0.5s;
}
.about a svg {
  color: white;
  padding: 0px;
  height: 17px;
  margin-top: 9px;
  margin-left: 2px;
}
.about:hover .drop-icon {
  transform: rotate(180deg);
}
.drop-about {
  height: 0px;
  width: 280px;
  position: absolute;
  background-color: #fcf4c971;
  transition: height 0.3s;
  margin-top: 12px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.488);
  left: 19vw;
  padding-left: 10px;
}
.drop-about a {
  display: none;
  z-index: 1;
  color: #2c3003;
  font-size: 1.2rem;
  /* font-weight: bold; */
  line-height: 2rem;
  margin-top: 30px;
}
.about:hover .drop-about {
  height: 90px;
  border: none;
  z-index: 1;
}
.about:hover .drop-about a {
  display: inline;
  z-index: 1;
}
/* .about-icon{
  height: 30px;
} */

/* Admission */
.admission {
  height: 50px;
  width: 120px;
}
.admission a {
  display: flex;
}

.admission a svg {
  color: white;
  padding: 0px;
  height: 17px;
  margin-top: 9px;
  margin-left: 2px;
}
.admission:hover .drop-icon {
  transform: rotate(180deg);
}
.drop-admission {
  height: 0px;
  width: 350px;
  position: absolute;
  background-color: #fcf4c971;
  transition: height 0.3s;
  margin-top: 12px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.488);
  left: 26vw;
  padding-left: 10px;
}
.drop-admission a {
  display: none;
  z-index: 1;
  color: #2c3003;
  font-size: 1.2rem;
  /* font-weight: bold; */
  line-height: 2rem;
  margin-top: 30px;
}
.admission:hover .drop-admission {
  height: 110px;
  border: none;
  z-index: 1;
}
.admission:hover .drop-admission a {
  display: inline;
  z-index: 1;
}

/* placement */
.placement {
  height: 50px;
  width: 140px;
}
.placement a {
  display: flex;
}
.placement a svg {
  color: white;
  padding: 0px;
  height: 17px;
  margin-top: 9px;
  margin-left: 2px;
}
.placement:hover .drop-icon {
  transform: rotate(180deg);
}
.drop-placement {
  height: 0px;
  width: 350px;
  position: absolute;
  background-color: #fcf4c971;
  transition: height 0.3s;
  margin-top: 12px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.488);
  left: 37vw;
  padding-left: 10px;
}
.drop-placement a {
  display: none;
  z-index: 1;
  color: #2c3003;
  font-size: 1.2rem;
  /* font-weight: bold; */
  line-height: 2rem;
  margin-top: 30px;
}
.placement:hover .drop-placement {
  height: 140px;
  border: none;
  z-index: 1;
}
.placement:hover .drop-placement a {
  display: inline;
  z-index: 1;
}

/* Department */
.dept {
  height: 50px;
  width: 140px;
}
.dept a {
  display: flex;
}

.dept a svg {
  color: white;
  padding: 0px;
  height: 17px;
  margin-top: 9px;
  margin-left: 2px;
}
.dept:hover .drop-icon {
  transform: rotate(180deg);
}
.drop-dept {
  height: 0px;
  width: 500px;
  position: absolute;
  background-color: #fcf4c971;
  transition: height 0.3s;
  margin-top: 12px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.488);
  left: 45vw;
  padding-left: 10px;
}
.drop-dept a {
  display: none;
  z-index: 1;
  color: #2c3003;
  font-size: 1.2rem;
  /* font-weight: bold; */
  line-height: 2.5rem;
  margin-top: 30px;
}
.dept:hover .drop-dept {
  height: 300px;
  border: none;
  z-index: 1;
}
.dept:hover .drop-dept a {
  display: inline;
  z-index: 1;
}

/* Event */
.event {
  height: 50px;
  width: 80px;
}
.event a {
  display: flex;
}

.event a svg {
  color: white;
  padding: 0px;
  height: 17px;
  margin-top: 9px;
  margin-left: 2px;
}
.event:hover .drop-icon {
  transform: rotate(180deg);
}
.drop-event {
  height: 0px;
  width: 300px;
  position: absolute;
  background-color: #fcf4c971;
  transition: height 0.3s;
  margin-top: 12px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.488);
  left: 62vw;
  padding-left: 10px;
}
.drop-event a {
  display: none;
  z-index: 1;
  color: #2c3003;
  font-size: 1.2rem;
  /* font-weight: bold; */
  line-height: 2rem;
  margin-top: 30px;
}
.event:hover .drop-event {
  height: 100px;
  border: none;
  z-index: 1;
}
.event:hover .drop-event a {
  display: inline;
  z-index: 1;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  z-index: 1;
  display: none;
  z-index: 1;
}

/* Welcome */
.Welcome_EIT {
  height: 100vh;
  display: flex;

  margin-top: 50px;
  justify-content: center;
}
.welcomeeitimg {
  /* border: 2px solid green; */
  height: 100vh;
  width: 50vw;
  background-image: url("/img/wlcm-to-eit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Welcome-content {
  /* border: 2px solid blue; */
  width: 50vw;
  height: 100vh;
}
.Welcome-content p {
  padding: 50px;
  text-align: justify;
}

.welcomeeitimg h1 {
  font-size: 3.5rem;
  height: 100vh;
  /* background: linear-gradient(100deg, #2169B4, #C1D842); */
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #6324129d;
  letter-spacing: 5px;
  text-align: center;
}
.Welcome-content p {
  font-size: 1rem;
  word-spacing: 2px;
}

.eit-box {
  /* border: 2px solid red; */
}
.eit-box h1 {
  text-align: center;
  border: 3px solid rgb(111, 56, 11);
  width: 40vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.boxes {
  /* background-color: red; */
  display: flex;
  /* margin-top: 10px; */
  height: 180px;
}
.eitboxes {
  /* border: 2px solid green; */
  background-color: #f0fd99;
  width: 180px;
  margin: 10px;
}
#box1 #box2 #box3 #box4 {
  margin-top: 10px;
}
#box1 h2 {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
#box1 h3 {
  margin-top: 10px;
  /* margin-left: 25px; */
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}
#box2 h2 {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
#box2 h3 {
  margin-top: 10px;
  /* margin-left: 25px; */
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

#box3 h2 {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
#box3 h3 {
  margin-top: 10px;
  /* margin-left: 25px; */
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

#box4 h2 {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}
#box4 h3 {
  margin-top: 10px;
  /* margin-left: 25px; */
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
/* campus-placement */
.campus-placement {
/*   
  background-image: url(/Placement/bricks.jpg); */
  display: flex;
  background-color: #fcf4c9;
  /* border: 2px solid red; */
}
.campus-placement1  {
  /* border: 4px solid rgb(0, 140, 255); */

  height: 90vh;
  width: 50%;
  display: inline-block;
  justify-content: space-evenly;
}
.campus-placement1 img {
  height: 80vh;
  width: 80%;
  margin-top: 10px;
  margin-left: 80px;
}
.recruiter{
  height: 100vh;
  border: none;
}
.recruiters{
  height: 70px;
  background: radial-gradient(#EE6C4D , #61210F);
  text-align: center;
  color: white;
  padding-bottom: 10px; 
}
.recruiters h1{
  font-size: 2.5rem;
}
/* card */
.main-courses {
  display: flex;
  flex-wrap: wrap;
}
.course {
  height: 400px;
  width: 400px;
  /* margin: 50px; */
  margin-left: 120px;
  margin-bottom: 50px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.btechimg {
  background-image: url("/Programs/BTECH.jpg");
  background-size: cover;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bcaimg {
  background-image: url("/Programs/BCA.jpg");
  background-size: cover;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bbaimg {
  background-image: url("/Programs/BBA.jpg");
  background-size: cover;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.mtechimg {
  background-image: url("/Programs/MTECH.jpg");
  background-size: cover;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.mcaimg {
  background-image: url("/Programs/MCA.webp");
  background-size: cover;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.mbaimg {
  background-image: url("/Programs/MBA.webp");
  background-size: cover;
  height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 12px 6px rgba(0, 0, 0, 0.417);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.btech-info {
  background-color: rgba(0, 0, 0, 0.561);
  position: relative;
  height: 500px;
  bottom: -300px;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: -2px -2px 5px white;
}
.btech-info h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(103, 5, 5);
}
.btech-info a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 8px;
  /* line-height: 55px; */
  border: 2px solid #fcf4c9;
  height: 5vh;
  display: block;
  border-radius: 10px;
  width: 21vw;
}
/* Courses */
#btech-info {
  margin-top: 35px;
  /* line-height: 6px; */
  margin-left: 20px;
}
#btech-info a:hover {
  background-color: #632412;
  border: 2px solid #632412;
}
.bca-info a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 8px;
  /* line-height: 55px; */
  border: 2px solid #fcf4c9;
  height: 5vh;
  display: block;
  border-radius: 10px;
  width: 21vw;
}
#bca-info {
  margin-top: 35px;
  /* line-height: 6px; */
  margin-left: 20px;
}
#bca-info a:hover {
  background-color: #632412;
  border: 2px solid #632412;
}
.bba-info a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 8px;
  /* line-height: 55px; */
  border: 2px solid #fcf4c9;
  height: 5vh;
  display: block;
  border-radius: 10px;
  width: 21vw;
}
#bba-info {
  margin-top: 35px;
  /* line-height: 6px; */
  margin-left: 20px;
}
#bba-info a:hover {
  background-color: #632412;
  border: 2px solid #632412;
}
.mtech-info a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 8px;
  /* line-height: 55px; */
  border: 2px solid #fcf4c9;
  height: 5vh;
  display: block;
  border-radius: 10px;
  width: 21vw;
}
#mtech-info {
  margin-top: 35px;
  /* line-height: 6px; */
  margin-left: 20px;
}
#mtech-info a:hover {
  background-color: #632412;
  border: 2px solid #632412;
}

/* Later on */
.mca-info a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 8px;
  /* line-height: 55px; */
  border: 2px solid #fcf4c9;
  height: 5vh;
  display: block;
  border-radius: 10px;
  width: 21vw;
}
#mca-info {
  margin-top: 35px;
  /* line-height: 6px; */
  margin-left: 20px;
}
#mca-info a:hover {
  background-color: #632412;
  border: 2px solid #632412;
}
.mba-info a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 8px;
  /* line-height: 55px; */
  border: 2px solid #fcf4c9;
  height: 5vh;
  display: block;
  border-radius: 10px;
  width: 21vw;
}
#mba-info {
  margin-top: 35px;
  /* line-height: 6px; */
  margin-left: 20px;
}
#mba-info a:hover {
  background-color: #632412;
  border: 2px solid #632412;
}

.btechimg:hover .btech-info {
  bottom: 0px;
}
.bcaimg:hover .btech-info {
  bottom: 0px;
}
.bbaimg:hover .btech-info {
  bottom: 0px;
}
.mtechimg:hover .btech-info {
  bottom: 0px;
}
.mbaimg:hover .btech-info {
  bottom: 0px;
}
.mcaimg:hover .btech-info {
  bottom: 0px;
}
.course button {
  text-decoration: none;
  position: relative;
  height: 50px;
  width: 200px;
  display: block;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 1.3rem;
  background-color: #381207;
  border: none;
  margin: auto;
  margin-top: 20px;
  /* transition: all .5s; */
  text-align: center;
  border-radius: 20px;
  /* border: 5px solid red ; */
}
.course button:hover {
  border: 5px solid #7d3f08;
  /* box-shadow: -2px 2px 3px 4px rgba(0, 0, 0, 0.805); */
}
.course-info {
  /* position: relative; */
  height: 80px;
  width: 30vw;
  margin-left: 35%;
  margin-top: 20px;
  /* border: 5px solid rgb(2, 52, 2); */
  /* overflow: hidden; */
}
.course-info h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  /* text-shadow: white; */
  /* height: 76px;
  width: 29.6vw; */
  /* background-color: #381207; */
  color: rgb(45, 5, 5);
  /* position: relative; */
  /* left: 2px;
  top: 2px; */
}

/* Campuslife */
.campus-life {
  background-color: #381207;
  height: 100vh;
  /* border: 3px solid #c6650b; */
}
#campus-info{
  font-family: "Oswald", sans-serif;
  background-color: #6c2906;
  height: 180px;
}
/* #campus-info h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
} */
#campus-info h2 {
  color: white;
  margin-left: 10px;
}
#campus-info p {
  color: white;
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
}
.feedback h1{
  color: white;
  border-bottom: 3px solid red;
  width: 400px;
  text-align: center;
  margin: auto;
}

.testimonials{
  border: 2px solid green;
  height: 50vh;
  margin: 10px;
  text-align: center; 
}
.testimonials h5{
  color: white;
  /* border: 2px solid red; */
  height: 100px;
  width: 700px;
  font-size: 1.3rem;
  padding-top: 10px;
  margin:  auto;
  /* text-align: center; */
}
.testimonials p{
  color: white;
}
.testimonials img{
  border-radius: 50%;
  height: 200px;
}

/* Student feedback */




@media screen and (max-width: 1014px) {
  .Welcome_EIT h1 {
    height: 50vh;
  }
  .Welcome-content {
    width: 100vw;
    height: 50vh;
  }
  .welcomeeitimg {
    width: 100vw;
    height: 50vh;
    margin: auto;
  }
  .Welcome_EIT {
    flex-wrap: wrap;
  }
  .front {
    overflow: hidden;
  }
  .nav {
    position: relative;
    border-bottom: none;
  }
  .nav-head {
    position: absolute;
    /* line-height: 1px; */
    right: -500px;
    width: 20vw;
    top: 1px;

    height: 60vh;
    margin-top: 1px;
    padding: 70px;
    border-top-left-radius: 30px;
    overflow-x: scroll;
  }
  .nav-head div:nth-child(1) {
    margin-bottom: 20px;
  }
  .nav-head a {
    margin-bottom: 20px;
  }
  .front .nav .nav-head {
    flex-direction: column;
  }
  .front {
    background-size: contain;
  }
  .front .name {
    height: 200px;
    font-size: 20px;
  }
  .hamburger {
    display: block;
  }
  .ham-clicked {
    right: 1px;
  }
  .drop-about {
    height: 0px;
    width: 350px;
    position: relative;
    left: -20px;
    top: -20px;

    transition: height 1s;
    margin-top: 22px;
  }
  .drop-about h1 {
    display: none;
  }
  .about:hover .drop-about {
    height: 300px;
    border: 2px solid #632412;
  }
  .about:hover .drop-about h1 {
    display: inline;
  }
}
