.dept-front{
    background: url("/img/Department/Computer-Applications/bach-comp-application-front.jpg") !important;
    background-size: cover !important;
}


@media (max-width: 1014px) {
    .image-container, .text-content {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .text-content {
        padding: 10px;
    }
    .bca-faq h1{
        width: 90% !important;
        font-size: 1.8rem;
    }
}

