*{
    margin: 0;
    padding: 0;
}
.blog-top{
    height: 18vh;
}
.blog-details{
    margin: auto;
    height: max-content;
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
}
.main-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
    margin: 10px;
    /* border: 2px solid black; */
}
.b-box{
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.323);
    width: 30%;
    height: 100%;

}
.b-box h6{
    color: rgb(7, 7, 82);
    padding-top:7px ;
    height: 5vh;
    background-color: rgba(245, 222, 179, 0.64);
}
.b-box h2{
    margin-left: 4px;
    margin-top: 10px;
    height: 10vh;
    /* font-size: 1rem; */
    font-weight: bold;

}
.b-box p{
    margin-left: 4px;
    margin-top: 40px;
    height: 15vh;
    font-size: 0.9rem;
}
#blog-read a{
    margin-left: 4px;
    text-decoration: none;
    color: black;
}
#blog-read{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#blog-read svg{
    height: 20px;
}
.blog3-box2 h2{
    font-size: 1.2rem;
}
.blog2-box2 h2{
    font-size: 1.4rem;
}