.dept-front{
    background: url("/img/Department/management/management-front.jpg");
    background-size: cover;
}
@media (max-width: 1014px) {

    .image-container,
    .text-content {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .text-content {
        padding: 10px;
    }

    .image-container img {
        width: 70%;
        margin: auto;
    }
    .nav{
        width: 95%;
    }
}