*{
    margin: 0px;
    padding: 0px;
}
.program-top{
    height: 16vh;
}
.front{
    height: 90vh;
    background-image: url(/img/highlight/Program_Offered.JPG);
    background-size: cover;
}
.main-program h1{
    color: white;
    text-align: center;
    padding-top: 30vh;
    font-size: 4rem;
    text-shadow: 3px 3px 2px black;
}
.programme-name1 h1{
    padding-top: 50px;
}
.programs-slogan{
    margin: auto;
    margin-top: 10px;
    height: max-content;
    width: 70vw;
    border: 2px solid black; 
    text-align: center;
}
.UG-programme{
    margin: auto;
    height: max-content;
    width: 100vw;
    margin-top: 10px;
}
.PG-programme{
    margin: auto;
    height: max-content;
    width: 100vw;
    border-top: 2px solid rgba(0, 0, 0, 0.33);
} 
.of-headings{
    height: 5vh;
    /* margin-top: 10px; */
}
.UG-heading h1{
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6rem;
    text-align: center;
}
.PG-heading h1{
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6rem;
    text-align: center; 
}
.accordion-content table{
    width: 100%;
    height: 70vh;
}
.accordion-content table th{
    font-weight: bold;
    font-size: 1.2rem;
}
.accordion-content table td{
    font-size: 0.95rem;
}
#no_seats{
    text-align: center;
}
.accordion-content table td a{
    text-decoration: none;
    font-weight: bold ;
}
.accordion-content-bba table{
    width: 100%;
    height: 20vh;
}
.programme-buttons{
    height: max-content;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.apply-now-button{
    width: 50%;
}
.PG-UG-Button{
    height: 60px;
    width: 23vw;
    background-color: rgb(44, 4, 4);
    color: white;
    font-size: 1rem;
}
.PG-UG-Button button:active {
    transform: scale(0.9);
}
.PG-UG-Button button:hover {
    background-color: #5a1907;
  
}
#pogramme-note{
    height: 10vh;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 3px;
    width: 80%;
    text-align: center;
}
.main-column{
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1014px){
    .PG-UG-Button{
        margin: auto;
        width: 156px;
        margin-top: 5px;
    }
    .UG-heading h1{
        font-size: 2rem;
    }
    .PG-heading h1{
        font-size: 2rem;
    }
    .accordion-item button{
        height: 80px;
    }
    .front{
        height: 300px !important;
        display: flex;
        align-items: center;
    }
}