.vm-head {
  height: 10vh;
}
.vm-msg {
  height: max-content;
  width: 90%;
  margin: auto;
  line-height: 25px;
}
.vm-img {
  margin: auto;
  width: 99%;
  height: 70vh;
  margin-top: 10px;
  border: 2px solid black;
}
#vm-img {
  height: 100%;
  background-image: url(/img/about/vm-img.jpg);
  background-size: cover;
  background-position: center;
}
.v-m {
  height: max-content;
}
.v-m h2 {
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.558);
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.v-m p {
  margin: auto;
  width: 80%;
  margin-top: 10px;
  text-align: left;
}
.mission {
  margin-top: 20px;
}
.mission ol,li{
  margin: auto;
  width: 90%;
  margin-top: 10px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  list-style: circle;
}

.video-container {
  max-width: 80%; /* Adjust as needed */
  margin: auto;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid #ccc; 
}   
@media screen and (max-width: 1014px) {
  .vm-img {
    width: 50%;
  }
  #vm-img {
    width: 90%;
    height: 30%;
  }
}
